@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
          
body{
    text-align: center;
    font-family: poppins;
    /*background: #0f0c29;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #c31432;
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    background: linear-gradient(to right, #240b36, #c31432);

}
form{
    display: inline-block;
}
h1{
    color: white;
}
input{
    background: transparent;
    box-shadow: none;
    border: 0;
    outline: 0;
    border-bottom: 1px solid rgb(145, 135, 135);
    width: 200px;
}
input, label{
    display: block;
    text-align: left;
    padding-bottom: 5px;
    color: white;
}
button {
    background-color: rgba(185, 40, 40, 0.685);
    border: none;
    border-radius: 12px;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
}
p{
    color: white;
}
form, #rerata, #max, #min, #tengah{
    color: rgb(228, 217, 217);
}
